body {
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

table {
    align-items: center;
}

th {
    font-size: 30px;
    border: 1px solid black;
}
th:nth-of-type(2n), td:nth-of-type(2n) {
    background-color: white;
}

td {
    font-size: 20px;
    border: 1px solid black;
    align-items: center;
}


dialog {
    height: 500px;
    width: 700px;

}
input {
    margin: 10px;
    display: flex;
}