body {
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

table {
    border: 1px solid black;
}


th {
    font-size: 30px;
    border: 1px solid black;
}

td {
    font-size: 20px;
}